body {
    max-width: 1440px;
    background: linear-gradient(#050301 , #150C01);
    color: white;
    border: 1px solid white;
    font-family: sans-serif, Times, serif;
    margin: 0 auto;
}

/*
Основные стили для header-a
*/
.header_navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.header_navigation a {
    color: white;
    text-decoration: none;
    display: block;
    align-self: center;
    white-space: nowrap; /* Текст не складывается в гармошку */
}
.header_navigation ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}
.header_navigation ul li {
    margin: 0 0 0 88px;
    line-height: 12px;
    align-self: center;
}
.logo {
    margin: 13px 55px;
}
.header_navigation-image {
    padding: 0;
    margin: 0;
}
.contact_us {
    background-color: #FA9021;
    padding: 10px;
    margin: 0 63px 0 37px;
    border-radius: 10px;
}